<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <img src="/ccassets/curbside_carnies_banner.jpg" alt="Curbside Carnies"/>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}

        <script type="text/javascript">var submitted=false;</script>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='cc-thankyou';}"></iframe>
        
        <form action="https://docs.google.com/forms/d/e/1FAIpQLScEaCI5VIUMBbJkXz6xKq4EIf0S4LegFXihVdaJndPCoEy-MA/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
          
          <div>
            All information supplied on this form will be kept confidential within the Curbside Carnies project, and used for the purposes of planning and feedback (with permission).
          </div>

          <div>
            <label>Name</label>
          </div>
          
          <div>
            <input type="text" placeholder="Name" name="entry.2005620554" required>            
          </div>
          
          <div>
            <label>Phone</label>
          </div>
          
          <div>
            <input type="text" placeholder="Phone" name="entry.1166974658">            
          </div>

          <div>
            <label>Email Address</label>
          </div>
          
          <div>
            <input type="email" placeholder="Email address" name="emailAddress" required>
          </div>
          
          <div>
            <label>Where would you like the Curbside Carnies to visit you? (Please provide as much detail as possible)</label>
          </div>
          
          <div>
            <input type="text" placeholder="Event location" name="entry.1065046570">            
          </div>

          <div>
            <label>Household details (ages of children/adults only)</label>
          </div>
          
          <div>
            <textarea rows="5" cols="40" placeholder="Household details" name="entry.1801609960"></textarea>            
          </div>

          <div>
            <label>Favourite circus act</label>
          </div>
          
          <div>
            <textarea rows="5" cols="40" placeholder="Favourite circus act" name="entry.781709855"></textarea>            
          </div>

          <div>
            <label>Why do you want the Curbside Carnies on your street?</label>
          </div>
          
          <div>
            <textarea rows="5" cols="40" placeholder="Why do you want the Curbside Carnies on your street?" name="entry.839337160"></textarea>            
          </div>

          <div>
            <label>Can Curbside Carnies contact you for post-show feedback?</label>
          </div>
          
          <div>
            <input type="radio" id="yes" name="entry.1677495133" value="Yes">
            <label for="yes">Yes</label>
          </div>

          <div>
            <input type="radio" id="no" name="entry.1677495133" value="No">
            <label for="no">No</label>
          </div>
          <input type="hidden" name="entry.1677495133_sentinel" value="">

          <button type="submit">Send</button>
        </form>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
